Qlik2DataRobot/bin
Qlik2DataRobot/obj
.vs
packages
Qlik2DataRobotWin/bin
Qlik2DataRobotWin/obj
Qlik2DataRobotService/bin
Qlik2DataRobotService/obj
Qlik2DataRobot Windows Installer/Release
Qlik2DataRobot Windows Installer/Debug
