<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="grpcPort" value="50052"/>
    <add key="grpcHost" value="0.0.0.0"/>
    <add key="certificateFolder" value=""/>
    <add key="enableMetricEndpoint" value="true"/>
    <add key="metricEndpointPort" value="19345"/>
  </appSettings>
</configuration>